@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    max-width: 1200px;
    margin: 0 auto;
    background: #ededed;
    font-family: 'Inter', sans-serif;

    padding-top: 25px;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    margin-top: 45vh;
    transition: .35s ease-in-out;
}

#output {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 1000px;
    margin: 50px auto;
}

form {
    display: flex;
    justify-content: space-between;
}

#search {
    width: 85%;
    height: 20px;
    padding: 10px;
    font-size: 20px;

    border: none;
    background: none;
    border-bottom: 1px solid #1a1a1a;
    color: #1a1a1a;
}

#search:hover,
#search:focus {
    background: #e3e3e3;
}

#searchBtn {
    width: 10%;
    background: none;
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
    font-weight: 700;
    cursor: pointer;
}

#searchBtn:hover {
    background: #e3e3e3;
}

input:focus {
    outline: none;
}

.result {
    margin-bottom: 15px;
}

#author,
#videoDate {
    color: #5e5e5e;
}

/* video conteiner */
.element {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    background: #fff;
}


.elementInner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 25px;
}

.preview {
    width: 160px;
    height: 90px;
}

.elementDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    height: 90px;
    width: 550px !important;
    margin-right: 15px;
}

.videoDesc {
    font-size: 13px;
}

.videoTitle {
    font-size: 20px;
    outline: none;
    background: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.videoPlayer {
    margin: 0 auto;
    padding: 0 25px 25px 25px;
}

.hidden {
    display: none;
}

.videoPlayer iframe {
    margin: 0 auto;
    width: 100%;
    height: 590px;
}